<div class="container">
<h1 class="text-center">Watchlists</h1>

<div class="d-flex justify-content-center">
<div class= "m-4 text-center">
  <% @lists.each do |list| %>
      <p>
      <%= link_to list.name.capitalize, list, :class => "btn btn-outline-secondary btn-sm" %>
      </p>
  <% end %>
  </div>
</div>
</div>
